<div class="row">
    <div class="col-12 text-center">
        <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

            <label for="inputEmail">Email address</label>
            <input id="inputEmail" class="form-control" name="email" type="text" 
                [(ngModel)]="user.email" #emailField="ngModel" email required>
            <label for="inputPassword">Password</label>
            <input id="inputPassword" class="form-control" name="password" type="password"
                [(ngModel)]="user.password" #passwordField required>

            <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid">
                Sign in
            </button>

            <div *ngIf="serverError && loginForm.submitted" class="alert alert-danger mt-3"> 
                {{ serverError }}
            </div>
        </form>
    </div>
</div>